/* Mobile first */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header, div.header {
  background: #211545;
  color: white;
  text-align: left;
  position: sticky;
  top: 0;
  padding: .5rem 2rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.75em;
}

nav {
  background-color: #211545;
  height: 0%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.2s;
}

nav ul {
  list-style: none;
  padding: 0;
}

/* Indent without moving the background-color position */
nav ul li a.nav-heading {
  padding-left: 2rem;
}

nav ul li a.nav-subheading {
  padding-left: 3rem;
}

nav ul li a:not(nav-subheading) {
  text-decoration: none;
  display: block;
  color: white;
  padding-left: 4rem;
}

nav ul li a {
  display: block;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
}

nav ul li a.current {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.arrow {
  position: absolute;
  right: 1.25em;
  border: solid white;
  border-width: 0 .13em .13em 0;
  display: inline-block;
  padding: .3em;
  color: white;
  margin: .2em;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

section:target {
  padding-top: 89px; 
  margin-top: -89px;
}



@media all and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: inline-block;
    position: static;
    padding: 4rem;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.75em;
  }

  nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: inline-block;
    white-space: nowrap;
    background-color: #eeeeee;
    width: auto;
    height: initial !important;
    overflow: initial;
    position: static;
    padding: 0;
  }

  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;
    }
  }

  nav ul li a:not(nav-subheading) {
    color: black;
  }

  nav ul li a {
    color: black;
  }

  nav ul li a.current {
    background: #404040;
    text-decoration: none;
  }

  section:target {
    padding-top: 1rem; 
    margin-top: initial;
  }

  div.header {
    display: none;
  }

  .arrow {
    display: none;
  }
}


/* HELP FROM THE WEB

https://css-tricks.com/sticky-smooth-active-nav/

https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors

*/