<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Academic Writing Navigation</title>
		<link href="styles/nav.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<nav class="mobile-overlay">
			<ul>
				<li>Academic Writing</li>
					<ul>
						<li>Using Inclusive language</li>
							<ul>
								<li>Language and culture</li>
								<li>Language and Australians of non-Enlgish language backgrounds</li>
								<li>Language and sexuality</li>
								<li>Language and gender</li>
								<li>Language and disability</li>
							</ul>
						<li>Formal writing</li>
							<ul>
								<li>Making your writing sound formal</li>
									<ul>
										<li>Where to avoid using personal pronouns</li>
										<li>Making judgements: evaluations and opinions</li>
								  </ul>
								<li>What to avoid in formal writing</li>
									<ul>
										<li>Cliches</li>
										<li>Figures of speech</li>
										<li>Informal language</li>
										<li>Padding</li>
										<li>Complex writing</li>
										<li>Texting language</li>
								  </ul>
							</ul>
						<li>Grammar and Punctuation</li>
							<ul>
								<li>Common problems in language construction</li>
									<ul>
										<li>Sentence structure</li>
										<li>Parallel structure</li>
										<li>The use and non-use of articles</li>
										<li>Subject-verb agreement</li>
									</ul>
								<li>Using Punctuations</li>
									<ul>
										<li>End marks (. ! ?)</li>
										<li>Comma, semicolon and colon (, ; :)</li>
										<li>Dash and hyphen (– -)</li>
										<li>Parentheses ( )</li>
										<li>Apostrophe (')</li>
										<li>Quotation marks (" ")</li>
										<li>Ellipsis (...)</li>
									</ul>
							</ul>
						<li>Quoting, paraphrasing & summarising</li>
							<ul>
								<li>Quoting</li>
								<li>Paraphrasing</li>
								<li>Summarising</li>
							</ul>
					</ul>
			</ul>
		</nav>



	</body>
</html>