<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Academic Writing Navigation</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="styles/nav.css" rel="stylesheet">
	</head>
	<body>
		<header onclick="openNav()" class="header">
			<h1>Academic Writing <span class="arrow down"></span></h1>
		</header>
		
		<!-- Nav inspiration: https://css-tricks.com/sticky-smooth-active-nav/ -->
		<nav id="nav-overlay" class="overlay sidebar">
			<div onclick="closeNav()" class="header">
				<h2>Academic Writing <span class="arrow up"></span></h2>
			</div>
			<!-- <h2 class="header" onclick="closeNav()">Academic Writing<span class="closebtn" class="arrow down"></span></h2> -->
		  <ul>
		    <li><a onclick="closeNav()" class="nav-heading" href="#formal-writing">Formal Writing</a>
					<ul>
						<li><a onclick="closeNav()" class="nav-subheading" href="#formal">Making your writing sound formal</a>
							<ul>
								<li><a onclick="closeNav()" href="#ppronouns">Where to avoid using personal pronouns</a></li>
								<li><a onclick="closeNav()" href="#judgements">Making judgements: evaluations and opinions</a></li>
							</ul>
						</li>
						<li><a onclick="closeNav()" class="nav-subheading" href="#avoid">What to avoid in formal writing</a>
							<ul>
								<li><a onclick="closeNav()" href="#cliches">Cliches</a></li>
								<li><a onclick="closeNav()" href="#fspeech">Figures of speech</a></li>
								<li><a onclick="closeNav()" href="#informal">Informal language</a></li>
								<li><a onclick="closeNav()" href="#padding">Padding</a></li>
								<li><a onclick="closeNav()" href="#complex">Complex writing</a></li>
								<li><a onclick="closeNav()" href="#texting">Texting language</a></li>
							</ul>
						</li>
					</ul>
		    </li>
		  </ul>
		</nav>

		
		<script type="text/javascript" src="scripts/nav.js"></script>
	</body>
</html>