* {
	font-family: 'Open Sans', sans-serif;
}
/*header*/
.header1{
  background-color: #ffffff;
  padding: 30px;
}

/*Search Bar*/
.search-box{
  position: absolute;
  top: 7.5%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: #056571;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt{
  width: 240px;
  /*padding: 0 6px;*/
}

.search-box:hover > .search-btn{
	visibility: hidden;
  background: white;
	position: absolute;
	top: 10px;
	right:10px;
	visibility: visible;
}

.search-btn{
	position: absolute;
  color: #eeeeee;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #056571;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: #ffffff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 40px;
}

/*heading*/
.heading{
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333333;
  position: relative;
  padding-left: 10px;
}

/*h2 topic*/
.topic{
  font-size: 2rem;
  letter-spacing: 0px;
  padding-left: 10px;
}

.content{
  padding-left: 10px;
}

.subtopic{
  font-size: 1.5rem;
  letter-spacing: 0px;
  padding-left: 10px;
  color: #056571;
}

/*Table*/
table {
	border-collapse: collapse;
	width: 60%;
  border-collapse: collapse;
  border: 1px solid black;
	padding-left: 10px;
}

tr:nth-child(even){
	background-color: #ffffff;
}

th{
	text-align: left;
	padding: 8px;
	background-color: #ccdfcb;
	color: #000000;
}

td {
	text-align: left;
	padding: 8px;
}
/*iPad Pro Land*/
@media only screen and (max-width:1366px){

}

/*iPad Pro*/
@media only screen and (max-width:1024px){

}

/*iPhoneX Land*/
@media only screen and (max-width:812px){

}

/*Pixel XL Land*/
@media only screen and (max-width:823px){

}

/*iPhone Plus Land*/
@media only screen and (max-width:812px){

}

/*iPad*/
@media only screen and (max-width:768px){

}

/*Pixel Land*/
@media only screen and (max-width:731px){

}

/*iPhone Land*/
@media only screen and (max-width:667px){

}

/*S5 Land*/
@media only screen and (max-width:640px){

}

/*iPhone5 Land*/
@media only screen and (max-width:568px){

}

/*iPhone Plus*/
@media only screen and (max-width:414px){

}

/*Pixel XL*/
@media only screen and (max-width:411px){

}

/*iPhoneX*/
@media only screen and (max-width:375px){

}

/*S5*/
@media only screen and (max-width:360px){

}

/*iPhone 5*/
@media only screen and (max-width:320px){

}
