
body{
  margin: 0;
  padding: 0;
  background: #ffffff;
}

/*header*/
.header1{
  background-color: #ffffff;
  padding: 30px;
}

/*Search Bar*/
.search-box{
  position: absolute;
  top: 7.5%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: #056571;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}


.search-btn{
  color: #ffffff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #056571;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: #ffffff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/*heading*/
.heading{
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333333;
  position: relative;
}

/*h2 topic*/
.topic{
  font-size: 3rem;
  letter-spacing: 3px;
}

/*Accordion*/
.container{
  width: 100%;
}

label{
  display: block;
}

.title{
  background: #ccdfcb;
  padding: 10px;
  font-weight: bold;
  border: .5px solid #eeeeee;
  cursor: pointer;
}

span{
  position: absolute;
  right: 15px;
  font-size: .8em;
}

.contentBox{
  margin: 0 auto;
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

#title1:checked + .contentBox,
#title2:checked + .contentBox,
#title3:checked + .contentBox,
#title4:checked + .contentBox{
  padding: 20px 0px 20px 10px;
  height: 50px;
}

input{
  display: none;
}
